body {
	padding        : 0;
	margin         : 0;
	display        : flex;
	justify-content: space-between;
	align-items    : self-end;
	flex-direction : column;
	height         : 100vh;
	color          : #484848;
	font-size      : 14px;
	font-family    : Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}