.filters {

	height         : 70px;
	width          : 100%;
	border         : 1px solid #DDDDDD;
	border-radius  : 4px;
	display        : flex;
	justify-content: space-between;
	align-items    : center;
}

button {
	font-size       : 18px;
	background-color: #FF5A5F;
	color           : #FFFFFF;
	height          : 48px;
	width           : 20%;
	border          : none;
	border-radius   : 4px;
	margin-right    : 30px;

}

.search-elem {
	display    : flex;
	height     : 100%;
	width      : 50%;
	align-items: center;
}

button:hover {
	opacity: 90%;
}

.amenities,
.locations {
	width          : 50%;
	height         : 100%;
	display        : flex;
	justify-content: center;
	flex-direction : column;
	padding        : 0 20px;
}

.amenities>h3,
.locations>h3 {
	font-weight: 600;
	font-size  : 14px;
	margin     : 0px;


}

.amenities>h4,
.locations>h4 {
	font-weight: 400;
	margin     : 0px;
}

.locations {
	border-right: #DDDDDD solid 1px;
}