.places h1 {
	font-size: 30px;
	/* align in the top left */

}

article {
	width        : 390px;
	padding      : 10px;
	margin       : 10px;
	border       : #FF5A5F solid 1px;
	border-radius: 4px;
}

.places-type {
	display        : flex;
	justify-content: center;
	flex-wrap      : wrap;

}

.places-type h2 {
	font-size : 30px;
	margin    : 0;
	text-align: center;
}